1-sonar-sweep/1-sonar-sweep
2-dive/2-dive
3-binary-diagnostic/3-binary-diagnostic
4-giant-squid/4-giant-squid
5-hydrothermal-venture/5-hydrothermal-venture
6-lanternfish/6-lanternfish
7-the-treachery-of-whales/7-the-treachery-of-whales
8-seven-segment-search/8-seven-segment-search
9-smoke-basin/9-smoke-basin
